<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HealthCareHealth.com</title>
  <link rel="stylesheet" href="/static/css/style2.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg color">
  <div class="container-fluid color">
    <a class="navbar-brand color title" href="#">HealthCareHealth.com</a>
    <button class="navbar-toggler color" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon color"></span>
    </button>
    <div class="collapse navbar-collapse color" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 color">
        <li class="nav-item color">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item color">
          <a class="nav-link " href="#">About Us</a>
        </li>
        <li class="nav-item dropdown color">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Emergency
          </a>
          <ul class="dropdown-menu color">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex color" role="search">
        <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline bg-primary-subtle " type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<div>
    <div class="row">
        <figure class="figure col-md-3 center">
            <img src="/static/images/OIP.jpeg" class="figure-img img-fluid rounded" alt="...">
        </figure>
        <h1 class="col-md-6 center">You are not at Heart Attack Risk
            <p>
                <ul>
                    <li class="para">
                        You are a heart-smart person, who knows how to keep your heart healthy and happy.<br>
                        You exercise regularly, eat well, and manage your stress levels with ease.<br>
                        You are not only caring for your own heart, but also for the hearts of those who love you.<br>
                        You inspire me with your dedication, discipline, and determination.<br>
                        You are a heart-warming person, who radiates joy and kindness to everyone around you.<br>
                        You have a heart of gold, that is priceless and precious.<br>
                        You are a heart-beat person, who makes my heart skip a beat every time I see you.<br>
                        You are a heart-felt person, who expresses your feelings with honesty and sincerity.<br>
                        You are a heart-throb person, who attracts admiration and affection wherever you go.<br>
                        You are a heart-to-heart person, who listens and understands with empathy and compassion.<br>
                        You are a heart-ful person, who fills my heart with love and gratitude.<br>
                    </li>
                </ul>
            </p>
        </h1>
    </div>
</div>

<center>
<div>
  <br>
  <button class="emergency-button">Emergency</button>
</div>
</center>
</body>
</html>
